.paddingTop {
    padding-top: 10px;
    text-align: left;
  }

  .mycontainer {
    border-radius: 5px;
    background-color: white;
    width:70%;
    padding: 32px 48px;
  }

  body {
      background-color: blueviolet;
      height: 100%;
  } 

  .table {
    border-color: grey;
    box-shadow: 1px 1px;
  }

  .bg-pink {
    background-color: blueviolet;
    font-size: 15px;
    color:white;
    
  }

  .btn-outline-blueviolet {
    color: blueviolet;
    border-color: blueviolet ;
    box-shadow: none;
    background-color: white;
    border-radius: 10px;
}

.btn-outline-blueviolet:hover, .btn-outline-blueviolet:active, btn-outline-blueviolet:focus, btn-outline-blueviolet:visited  {
    color: white;
    background-color: blueviolet;
}

  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }
  .inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
  