<!DOCTYPE html>
<header>
    <title></title>
</header>
<body>
    <br><br>

    <div class="vertical-center">
    
       
        <div class="container mycontainer">


            <h4 class="text-left"><strong>Controle de Task</strong></h4><hr>
        
                <div class="row form-group">
                    <div class="form-group col-xs-10 col-md-5"> 
                        <strong>Descrição</strong>
                        <input type="text" class="form-control" placeholder="Descricao" #desc>
                    </div>

                    <div class="form-group col-xs-10 col-md-5">
                        <strong>Data</strong>
                        <div class="inner-addon left-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                            <input type="date" class="form-control" placeholder="yyyy-MM-dd" #data>
                        </div>
                    </div>

                    <br>
             
                    <button type="button" class="col-xs-10 col-md-2 btn btn-outline-blueviolet text-uppercase" (click)="insertTask(desc.value,data.value,Task); desc.value=''; data.value='';">
                        <span class="glyphicon glyphicon-ok"></span>&nbsp;Inserir
                    </button>
              

                </div>
        

                <div class="row paddingTop">
                    <div class="form-group col-xs-12 col-md-12 table-responsive">

                        <table class="table table-bordered table-hover">
                            <tr class="bg-pink">
                                <th width="30%" (click)="orderingColumns('id')">Id &nbsp;<span *ngIf="!ordering.id" class="glyphicon glyphicon-menu-down"></span><span *ngIf="ordering.id" class="glyphicon glyphicon-menu-up"></span></th>
                                <th width="20%" (click)="orderingColumns('description')">Descrição &nbsp;<span *ngIf="!ordering.description" class="glyphicon glyphicon-menu-down"></span><span *ngIf="ordering.description" class="glyphicon glyphicon-menu-up"></span></th>
                                <th width="20%" (click)="orderingColumns('date')">Data &nbsp;<span *ngIf="!ordering.date" class="glyphicon glyphicon-menu-down"></span><span *ngIf="ordering.date" class="glyphicon glyphicon-menu-up"></span></th>
                                <th width="10%" (click)="orderingColumns('isDone')">isDone &nbsp;<span *ngIf="!ordering.isDone" class="glyphicon glyphicon-menu-down"></span><span *ngIf="ordering.isDone" class="glyphicon glyphicon-menu-up"></span></th>
                                <th width="20%" class="text-center">Ação</th>
                            </tr>

                            <tr *ngFor="let obj of Task; let i = index">
                                <td>
                                    {{ obj.id }}               
                                </td>
                                <td>
                                    <div *ngIf="!obj.Edit; else elseBlock1">
                                        {{ obj.description }}
                                     </div>
                                     <ng-template #elseBlock1>
                                         <input type="text" class="form-control" value="{{ obj.description }}" style="max-height: 30px; height: 30px;" (change)="setForm($event);" name="description">
                                     </ng-template>
                                </td>
                                <td>
                                    <div *ngIf="!obj.Edit; else elseBlock2">
                                        {{ obj.date }}
                                     </div>
                                     <ng-template #elseBlock2>
                                         <input type="text" class="form-control" value="{{ obj.date }}" style="max-height: 30px; height: 30px;" (change)="setForm($event);" name="date">
                                     </ng-template>
                                </td>
                                <td>
                                    <div *ngIf="!obj.Edit; else elseBlock3">
                                        {{ obj.isDone }}
                                     </div>
                                     <ng-template #elseBlock3>
                                         <select class="form-control" name="isDone" (change)="setForm($event);">
                                             <option value="false">false</option>
                                             <option value="true">true</option>
                                         </select>
                                     </ng-template>
                                </td>
                                <td style="display: flex; justify-content: center;">
                                
                                    <div *ngIf="!obj.Edit; else elseBlock4">
                                        <button class="btn btn-default btn-sm" (click)="obj.Edit = !obj.Edit; atualizaForm(obj);">
                                                <span class="glyphicon glyphicon-edit"></span>        
                                        </button>&nbsp;
                                    </div>

                                    <ng-template #elseBlock4>
                                        <button class="btn btn-default btn-sm" (click)="obj.Edit = !obj.Edit; alterTask(form.id,form.description,form.date,form.isDone)">
                                            <span class="glyphicon glyphicon-floppy-disk"></span>        
                                        </button>&nbsp;
                                    </ng-template>

                                    <button class="btn btn-danger btn-sm" (click)="deleteTask(obj.id);">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
            
    <br><br>
</body>

